  <div class="col-2">
    <strong><%= @service.user.name %></strong><br />
    <small>Data: <%= @service.created_at.strftime("%d/%m/%Y") %></small><br/>
    <small>Hora: <%= @service.created_at.strftime("%H:%M") %></small>
  </div>

  <div class="col-10">
    <%= @service.body %>
    <% if @service.picture? %>
        <center><%= image_tag @service.picture.url, width: "500rem" %></center>
    <%end%>
  </div>
