<% provide(:title, 'Funções do Sistema') %>

<div class="container-fluid">
  <div class="row align-items-center" id="services-title">
    <div class="col-4"><strong>Nome</strong></div>
    <div class="col-4"><strong>-</strong></div>
    <div class="col-2"><strong>-</strong></div>
    <div class="col-2">-</div>
    <div class="container-fluid">
        <div class="container-fluid col-12 line"></div>
    </div>
  </div>

<div class="row align-items-center">
    <% @tools.each do |tool| %>
        <div class="col-4">
          <%=link_to tool.name, tool %>
        </div>
        <% if suport_user? %>
          <div class="col-4">
            <%=tool.controller %>
          </div>
          <div class="col-2">
            <%= link_to 'Editar', edit_tool_path(tool) %>
          </div>
          <div class="col-2">
            <%= link_to 'Deletar', tool, method: :delete, data: { confirm: "Deletar #{tool.name}?" } %>
          </div>

          <div class="container-fluid">
            <div class="container-fluid col-12 line"></div>
          </div>

        <%else%>
          <div class="col-8">
          </div>
        <%end%>
    <% end %>
</div>
<br>

<% if suport_user? %>
<%= link_to 'Nova Função', new_tool_path, class: "btn btn-success btn-block" %>
<% end %>
