<% @service.comments.each do |comment| %>
  <div class="card">
    <div class="row" style="margin: 2px">
      <div class="col-2">
        <strong><%= comment.user.name %></strong><br />
        <small>Data: <%= comment.created_at.strftime("%d/%m/%Y") %></small><br/>
        <small>Hora: <%= comment.created_at.strftime("%H:%M")%></small>
      </div>
      <div class="col-10">
        <div class="row">
        
          <div class="col-10">
            <%= comment.body %>
          </div>
        
          <div class="col-2">
            <% if current_user.admin? && current_user?(comment.user) %>
              <%= link_to 'Editar', edit_comment_path(id: comment.id, service_id: @service.id) %>
            <%end%>
          </div>
        </div>

        <% if comment.picture? %>
          <center><%= image_tag comment.picture.url, width: "500rem" %></center>
        <%end%>
      </div>
    </div>
  </div>
  <br />
<% end %>