<% @service.comments.each do |comment| %>
  <div class="card">
    <div class="row" style="margin: 2px">
      <div class="col-2">
        <strong><%= comment.user.name %></strong><br />
        <small>Data: <%= comment.created_at.strftime("%d/%m/%Y") %></small><br/>
        <small>Hora: <%= comment.created_at.localtime.strftime("%H:%M")%></small>
      </div>
      <div class="col-10">
        <%= comment.body %>
        <% if comment.picture? %>
          <center><%= image_tag comment.picture.url, width: "500rem" %></center>
        <%end%>
      </div>
    </div>
  </div>
  <br />
<% end %>