<% @users.each  do |user|%>
<%= form_with(model: @responsible, local: true) do |f| %>

  <div class="row responsible">
    <div class="col-1">
      <%= f.hidden_field :user_id, value: user.id %>
      <%= f.hidden_field :service_id, value: @service.id %>
    </div>
    <div class="col-7">
      <label><%= user.name %></label>
    </div>
    <div class="col-4">
      <%= f.submit "add", class: "btn btn-sm btn-success " %>
    </div>
  </div>

<% end %>
<% end %>
