<!DOCTYPE html>
<html>
  <head>
    <title>NiloOs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main class="fluid-container">
        <div class="container">
          <center><h1><%= yield :title %></h1></center>
          <%= render 'layouts/pageHeader' %>
          <div class="content">
            <%= render 'layouts/flash' %>
            <%= yield %>
          </div>
          <%= render 'layouts/footer' %>
        </div>
    </main>
  </body>
</html>
